#root {
  max-width: 1280px;
  text-align: center;
  
}

.recipeImg {
  max-width: 300px;
  max-height: 200px;
  border-radius: 5px;
}

.listsDiv {
  position: relative;
}

.recipeDiv {
  position: relative;
  overflow: scroll; 
  overflow-x: hidden;
  top: 100px;
}

.groceryListDiv {
  position: relative; 
  top: 100px;
  margin: 50px;
  
  overflow: scroll;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.968);
  border-radius: 10px;

}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.recipeCard {  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.968);
  margin: 30px; 
  padding: 15px;
  border-radius: 10px;
}

.menuDiv {
  position: fixed;
  top: 0;
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.808);
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
}

.alignRight {
  justify-content: right;
  padding-right: 20px;
}

.alignLeft {
  text-align: left;
  width: 60%;
  padding-left: 25px;
}

.visBtn {
  position: fixed;
  bottom: 50px;
  left: 75%;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  font-size: .9rem;
}